---
layout: home-page 
title: Reading
permalink: /books/
---

<div class="small-wrapper">
  <div class="about-container"> 
    <section class="about-header">
      <div class="subtitle">
        <img src="https://raw.githubusercontent.com/Gabriel-Chen/photos/main/books-1245690_1920.jpg" alt="">  
		<p>Cogito, ergo sum<br>- René Descartes</p>
	  </div>
    </section>

	<p>This is a list of books either I have read, I am currently reading, or I plan to read in the near future. If you happen to be reading any one of these books and would like to have a discussion about it with me, you may find the way to contact me <a href="{{ site.baseurl }}/contact/">here</a>.</p>
	<p>My goal of reading is thinking. I treat the reading process as the way to sharp my mind. I believe the more I utilize my brain, the quicker it reacts.</p>
	<p>Right now, I do not have much time to read, but I intend to read a little bit every single day either before going to bed or when I am too tired of work. I always want to read more. </p>
            <p style="font-size:75%">This page is inspired by <a href="https://evy.garden">evy</a>.</p>

            <hr/>

            <p>Filter by reading status:</p>
            <div class='buttons'>
                <button class='toggle-button' id="want to read" onclick='toggleStatus("want to read")'>want to read</button>
                <button class='toggle-button' id="reading" onclick='toggleStatus("reading")'>reading</button>
                <button class='toggle-button' id="read" onclick='toggleStatus("read")'>read</button>
                <button class='toggle-button' id="abandoned" onclick='toggleStatus("abandoned")'>abandoned</button>
            </div>

			<p>
                Filter by 
                <select name="any-all" id="any-all" onchange="applyFilters()">
                    <option value="any">any</option>
                    <option value="all">all</option>
                </select>
                 of the selected tags:
            </p>

			<div class='buttons'>
				{% for tag in site.booktags %}
                <button class='toggle-button' id="{{ tag.name }}" onclick='toggleTag("{{ tag.name }}")'>{{ tag.name }}</button>
				{% endfor %}
			</div>


{% for book in site.books %}
			<div class="book">
                <div class="summary"> 
                    <img class="cover" src="{{ book.img }}"/>
                    <div class="details">
                        <div class="title">{{ book.title }}</div>
                        <div class="author">{{ book.author }}</div>
                        <div class="status-and-date">
                            <strong class="status">{{ book.status }}</strong>
                             as of {{ book.date | date: "%B %d, %y"}}
                        </div>
                        <div class="notes">{{ book.content }}</div>
                    </div>
                </div>
                <div class="tags">

                        tags: 
                    <span class="taglist">{{ book.t }}</span>
                </div>
            </div>
{% endfor %}

  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->

