<div class="image-gallery">
{% for image in site.images %}
yes
{% endfor %}
	</div>

<div class="image-gallery">

{% for file in site.static_files reversed %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' or
	  file.extname == '.png' %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}

      <a href="{{ file.path }}">
        <img src="https://images.weserv.nl/?url=https://www.gabrielchen.com{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square" />
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
