.book {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid;
  border-style: dashed none none none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.summary {
  display: flex;
  align-items: start;
}

.cover {
  width: 100px;
}

.details {
  margin-left: 40px;
}

.title {
  font-size: 25px;
  color: black;
}

.status-and-date, .notes, .tags {
  margin-top: 10px;
}

.notes, .tags {
  font-size: 14px;
}

.buttons {
  margin-bottom: 15px;
}

.toggle-button {
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #e4e4e4;
    border: 1px none;
    border-radius: 1px;
}

.toggle-button:hover {
    background-color: #7db7c3;
    color: white;
}

.toggle-button-on {
  background-color: #7db7c3;
  color:white;
}
.toggle-button-on:hover {
  background-color: #71a5b0;
}




